<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="tibberPulse" type="tibberpulseremotecollector.TibberPulseConfigSection, tibberpulseremotecollector" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <tibberPulse authToken="" homeId="" influxHost="localhost" influxDatabase="" influxMeasurement="">
  </tibberPulse>
</configuration>